body {
  padding-top: 55px;
  background-color: aqua;
  margin: 0;
  padding: 0;
}

.logo-img {
  width: 40px; /* 根據需要調整圖片大小 */
  height: auto;
  border: 0.5px solid #595959;
  border-radius: 100%;
}

.footer-bg{
  background-color: #f9f9f9;
}

.home-carousel {
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
  display: flex;
  justify-content: center; 
  position: relative;
}

.home-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 讓圖片填滿區域，不變形 */
}

.home-carousel-text {
  position: absolute;
  top: 35%;
  left: 12%;
  font-size: 2rem;
  color: #fff;
}

.home-store {
  width: 100%;
  height: 100vh; /* 設定為視窗高度 */
  overflow: hidden; /* 隱藏溢出內容 */
  align-items: last baseline; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  position: relative;
}


.home-store img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 讓圖片填滿區域，不變形 */
}

.home-store-title{
  position: absolute;
  color: #fff;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.home-store-text-box {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: 280px;
}

.home-store-text-box-border {
  border: 1px solid #595959;
  width: 410px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.home-icon{
  font-size: 5rem;
}

.home-imagery-container{
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
  justify-content: center; 
}

.home-imagery-container img{
  width: 100%;
  height: 100%; 
  overflow: hidden; 
  justify-content: center; 
  align-items: last center;
  object-fit: cover;
}

.home-imagery-container-text{
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cart{
  min-height: 100vh;
  margin-top: 95px;
}

@media (max-width: 768px) {
  .cart-table-container {
    overflow-x: auto;
  }

  .cart-table {
    min-width: 600px; /* 確保表格內容不會過度縮小 */
  }
}

.outline-margin{
  margin-top:75px
}


.product-category {
  width:50px;
}

.product-card:hover {
  transform: scale(105%);
  transition: 0.15s;
  cursor: pointer;
}

.product-list-img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-list-md-img{
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.product-card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-card-img-home {
  width: 150px;
  height: 280px;
  object-fit: cover;
}

.product-card-badge {
  right: -10px ;
  background-color: #0d6efd;
  transform: translate(center,left);
}

.product-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示行數 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-car-body {
  height: 150px ;
}

.aside-list:hover a{
  color:  #0d6efd !important;
}

.product-modal-container{
  /* max-width: 1200px !important; */
}

.product-modal-primary-img{
  width:calc(100% - 180px) ;
  height:450px;
  object-fit: cover;
}

.product-modal-secondary-img{
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.product-modal-secondary-img:hover{
  transform: scale(105%);
  transition: 0.3s;
  cursor: pointer;
  
}

.product-modal-secondary-img-container{
  height: 400px;
  overflow-y: scroll;
  padding: 0 10px ;
}

.cart-number-input {
  width: 50px !important;
  height: 31px;
}

.product-detail{
  height: 90vh !important;
  /* overflow-y: scroll !important; */
}

.pre-line {
  white-space: pre-line;
}

.cart-offcanvas{
  width: 660px !important;
}

.loading-contain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 10000;
  backdrop-filter: blur(2px);
}

.set-nav-active{
  color: #fff !important;
  color:  #0d6efd !important;
  font-weight: 600 !important;
  /* background-color: rgba(21, 93, 203, 0.7) !important; */
  /* border: #0d6efd 1px solid !important; */
  border-radius: 10px;
}



@media (max-width: 992px) {
  .home-store-text-box {
    width: 420px; /* 可調整為你需要的寬度 */
    height: 270px; /* 可調整為你需要的高度 */
  }

  .home-store-text-box-border {
    width: 400px; /* 可調整為你需要的寬度 */
    height: 250px; /* 可調整為你需要的高度 */
  }

  .product-card-img{
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  .product-card-img-home {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  
}

@media (max-width: 768px) {


  .product-card-img{
    width: 150px;
    height: 350px;
    object-fit: cover;
  }

  .product-card-img-home {
    width: 150px;
    height: 350px;
    object-fit: cover;
  }

  .product-modal-secondary-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }


  .product-modal-secondary-img-container{
    height: 250px;
    overflow-y: scroll;
    padding: 0 10px ;
  }

  .product-modal-primary-img{
    width:calc(100% - 135px) ;
    height: 250px;
    object-fit: cover;
  }
  
  
}

@media (max-width: 576px) {
  body{
    font-size: 0.83rem !important;
  }

  .home-store-text-box {
    width: 320px; /* 可調整為你需要的寬度 */
    height: 300px; /* 可調整為你需要的高度 */
  }

  .home-store-text-box-border {
    width: 300px; /* 可調整為你需要的寬度 */
    height: 280px; /* 可調整為你需要的高度 */
  }

  .cart-number-input {
    width: 35px !important;
    height: 31px;
  }
}